<!doctype html>

<head>


<title>Plan Your Dinner Party</title>

<link href='dist/css/bootstrap.css'rel='stylesheet'>
<link rel="stylesheet"type="text/css"href="/dinnerdate.css">
<link rel="shortcut icon" href="images/favicon.ico" />

</head>

<body>

  <header>

  <h1>Well chosen <%= @name %>!</h1>

  </header>

  <br/><h2>Check details below and confirm your booking...</h2>

<div class="form">

    <form method="post" action="/confirm">

<p>
	<br/><strong>NAME: <%=@name %></strong><br/><br/> <!--Anyone know why this name isn't showing up?-->
  <strong>DATE: <%= @occasion %></strong><br/><br/><!-- We should probs add this on the form! -->
  <strong>VENUE COST: </strong>(cost)<br/><br/>
  <strong>CHEF COST:</strong> (cost) <br/><br/> <!-- Could be cost * no. of guests if we're feeling fancy -->
	<strong>TOTAL COST:</strong>  (venue cost + check cost)<br/><br/>
</p>

    <input type="submit" value="Confirm" id="submit-button">
  <br/><br/>
</div>

<h2><a href="/confirmation">Share the news with your friends!</a></h2>
<br/><br/>

<div id="footer">
  <div class="social-icon">
    <a target="_blank" href="https://www.facebook.com/freecakesuk/"><img src='images/facebook.png'></a>
    <a target="_blank" href="https://www.instagram.com/cake/"><img src='images/instagram.png'></a>
    <a target="_blank" href="https://twitter.com/freecakesuk"><img src='images/twitter.png'></a>
  </div>
</div>

</body>
