
<center>
<h1><font color="#FF8000">Thanks for booking with Dinner Date!</font></h1>
<br/>
<img src = "http://i67.tinypic.com/2910vvp.jpg" height="200" width="300"><br/><br/>

<h2>Here's your booking details:>/h2><br/><br/>
----------<br/><br/>
<strong>NAME: <%=@name %></strong><br/><br/> 
<strong>DATE: <%= @occasion %></strong><br/><br/>
<strong>VENUE COST: </strong>(cost)<br/><br/>
<strong>CHEF COST:</strong> (cost) <br/><br/>
<strong>TOTAL COST:</strong>  (venue cost + check cost)<br/><br/>
----------<br/><br/>
</center>
