<!doctype html>

<head>


<title>Plan Your Dinner Party</title>

<link href='dist/css/bootstrap.css'rel='stylesheet'>
<link rel="stylesheet"type="text/css"href="/dinnerdate.css">
<link rel="shortcut icon" href="images/favicon.ico" />

</head>

<body>

  <header>

  <h1>BOOKING COMPLETE!</h1>

  </header>

<br/><br/><h2>Thanks very much for your booking!<br/><br/><br/>
  Check your emails for confirmation and get in touch if you have any questions.<br/>
  Otherwise, we hope you have an amazing evening :)</h2><br/><br/><br/>

<div id="footer">
  <div class="social-icon">
    <a target="_blank" href="https://www.facebook.com/freecakesuk/"><img src='images/facebook.png'></a>
    <a target="_blank" href="https://www.instagram.com/cake/"><img src='images/instagram.png'></a>
    <a target="_blank" href="https://twitter.com/freecakesuk"><img src='images/twitter.png'></a>
  </div>
</div>

</body>
