
<center>
<h1><font color="#FF8000">Thanks for submitting your booking with Dinner Date!</font></h1>
<br/>
<img src = "http://i67.tinypic.com/2910vvp.jpg" height="200" width="300"><br/><br/>

<h2>Here's your booking details:</h2><br/><br/>
----------<br/><br/>
<strong>NAME:</strong> <%=@name %><br/><br/> 
<strong>DATE:</strong> <%= @date %><br/><br/>
<strong>VENUE COST:</strong>£<%= @inlineRadioOptions1 %><br/><br/>
<strong>CHEF COST:</strong><%= @inlineRadioOptions2 %><br/><br/>

----------<br/><br/>
<p>Availability is now being checked. We'll be in touch within two working days to confirm your booking!</p>
</center>
