
<center>
<h1><font color="orange">Thanks for booking with Dinner Date!</font></h1>
<br/>
<img src= "images/logo.jpg"><br/><br/>

Here's your booking details:<br/><br/>
----------<br/><br/>
<strong>NAME: <%=@name %></strong><br/><br/> 
<strong>DATE: <%= @occasion %></strong><br/><br/>
<strong>VENUE COST: </strong>(cost)<br/><br/>
<strong>CHEF COST:</strong> (cost) <br/><br/>
<strong>TOTAL COST:</strong>  (venue cost + check cost)<br/><br/>
----------<br/><br/>
</center>
