<!doctype html>

<head>

<title>Dinner Date</title>

<link href='dist/css/bootstrap.css'rel='stylesheet'>
<link rel="stylesheet"type="text/css"href="/dinnerdate.css">
<link rel="shortcut icon" href="images/favicon.ico" />

<head>

<body>

<header>

<h1>Good choice <%= @name %>!<br/>Now, let's pick your chef for the evening</h1>
</header>

<div id = "venuelist"

<div class="container">
	<div class="row">

<div class = "venue1 col-md-5">

	<a href="/billing">

<img src = "images/thathungrychef.jpg">
<h2>That Hungry Chef ~ Indian/Fusion</h2>

</a>

</div>

<div class = "venue1 col-md-5 col-md-offset-1">

	<a href="/billing">

<img src = "images/alittlelusciousness.jpg">
<h2>A Little Lusciousness ~ British</h2>

</a>

</div>

<div class = "venue1 col-md-5">

	<a href="/billing">

<img src = "images/nordish.jpg">
<h2>M&M ~ Nordish</h2>

</a>

</div>

<div class = "venue1 col-md-5 col-md-offset-1">

	<a href="/billing">

<img src = "images/gabriel.jpg">
<h2>The Water House Project ~ British</h2>

</a>

</div>


</div>

</div>

<div id="footer">
  <div class="social-icon">
    <a target="_blank" href="https://www.facebook.com/freecakesuk/"><img src='images/facebook.png'></a>
    <a target="_blank" href="https://www.instagram.com/cake/"><img src='images/instagram.png'></a>
    <a target="_blank" href="https://twitter.com/freecakesuk"><img src='images/twitter.png'></a>
  </div>
</div>

</body>



