<!doctype html>

<head>

<title>Dinner Date</title>

<link href='dist/css/bootstrap.css'rel='stylesheet'>
<link rel="stylesheet"type="text/css"href="/dinnerdate.css">

<head>

<body>

<header>

<h1>Check out Drink Shop Do ~ North!</h1>
</header>

<div id = "venuepgs">

<div class="container">
	<div class="row">

<div class='col-sm-6'>



<img src = "images/drinkshopdo.jpg">
		<h2>Drink Shop Do</h2>
</div>

<div class='col-sm-1'>
	</div>

<div class='col-sm-5'>

	<div id = "venuetext">


<h3> Location: 44 Kentish Town Road, NW3
	<br> Largest booking: 25 people
	<br> Private rooms: No
	<br> Table service: Yes


	<br>
	<br>

From Drink Shop Do, Kentish Town is a stones throw away and is the perfect venue for pre-gig dinner and drink. A fine Victorian pub that combines old traditions with modern style; serving seasonal British food with a large selection of wines and real ales. The beautiful first floor function room is available for private hire on weekends and hosts events nightly throughout the week..</h3> 

</div>




</div>

</div>

<div id='choices'>
	<div class="row">

<div class='col-sm-6'>

<a href="/chefs">
		<h3>I choose Drink Shop Do!</h3>

	</a>

</div>

	<div class='col-sm-6'>

<a href="/venues">
		<h3>Take me back to venues</h3>

	</a>

</div>
</div>
</div>

</div>
</div>
</div>




<div id="footer">
  <div class="social-icon">
    <a target="_blank" href="https://www.facebook.com/freecakesuk/"><img src='images/facebook.png'></a>
    <a target="_blank" href="https://www.instagram.com/cake/"><img src='images/instagram.png'></a>
    <a target="_blank" href="https://twitter.com/freecakesuk"><img src='images/twitter.png'></a>
  </div>
</div>

</body>



