<!doctype html>

<head>

<title>Dinner Date</title>

<link href='dist/css/bootstrap.css'rel='stylesheet'>
<link rel="stylesheet"type="text/css"href="/dinnerdate.css">

<head>

<body>

<header>

<h1>Hi <%= @name %>! Let's get planning your <%= @occasion %><br/><br>First, pick your venue...</h1>
</header>

<div id = "venuepgs"

<div class="container">
	<div class="row">

<div class = "venue1 col-md-10">

<img src = "images/forum.jpg">
		<h2>Forum Bar ~ East</h2>



</div>



<div id="footer">
  <div class="social-icon">
    <a target="_blank" href="https://www.facebook.com/freecakesuk/"><img src='images/facebook.png'></a>
    <a target="_blank" href="https://www.instagram.com/cake/"><img src='images/instagram.png'></a>
    <a target="_blank" href="https://twitter.com/freecakesuk"><img src='images/twitter.png'></a>
  </div>
</div>

</body>



