<!doctype html>

<head>

<title>Dinner Date</title>

<link href='dist/css/bootstrap.css'rel='stylesheet'>
<link rel="stylesheet"type="text/css"href="/dinnerdate.css">

<head>

<body>

<header>

<h1>Check out Wishart ~ South!</h1>
</header>

<div id = "venuepgs">

<div class="container">
	<div class="row">

<div class='col-sm-6'>



<img src = "images/forum.jpg">
		<h2>Wishart</h2>
</div>

<div class='col-sm-1'>
	</div>

<div class='col-sm-5'>

	<div id = "venuetext">


<h3> Location: 35 Shoreditch High Street, N16
	<br> Largest booking: 15 people
	<br> Private rooms: Yes
	<br> Table service: Yes


	<br>
	<br>

With West Hampstead, Queens Park and Kensal Rise just a short stroll in either direction, the local catchment area is something that we are very fortunate to be able to embrace. Wishart offers a regularly changing menu which is bursting with traditional and exciting new options complimenting the new and improved building.</h3> 

</div>




</div>

</div>

<div id='choices'>
	<div class="row">

<div class='col-sm-6'>

<a href="/chefs">
		<h3>I choose Wishart!</h3>

	</a>

</div>

	<div class='col-sm-6'>

<a href="/venues">
		<h3>Take me back to venues</h3>

	</a>

</div>
</div>
</div>

</div>
</div>
</div>




<div id="footer">
  <div class="social-icon">
    <a target="_blank" href="https://www.facebook.com/freecakesuk/"><img src='images/facebook.png'></a>
    <a target="_blank" href="https://www.instagram.com/cake/"><img src='images/instagram.png'></a>
    <a target="_blank" href="https://twitter.com/freecakesuk"><img src='images/twitter.png'></a>
  </div>
</div>

</body>



