<!doctype html>

<head>

<title>Dinner Date</title>

<link href='dist/css/bootstrap.css'rel='stylesheet'>
<link rel="stylesheet"type="text/css"href="/dinnerdate.css">

<head>

<body>

<header>

<h1>Hi [name]! Let's get planning your [occasion]<br/><br>First, pick your venue...</h1>
</header>

<div id = "venuelist"

<div class="container">
	<div class="row">

<div class = "venue1 col-md-5">

<img src = "images/forum.jpg">
<h2>Forum - 20 people - East</h2>

</div>

<div class = "venue1 col-md-5 col-md-offset-1">

<img src = "images/wishart.jpg">
<h2>Wishart - 40 people - West</h2>

</div>

<div class = "venue1 col-md-5">

<img src = "images/forum.jpg">
<h2>Forum - 20 people - East</h2>

</div>

<div class = "venue1 col-md-5 col-md-offset-1">

<img src = "images/wishart.jpg">
<h2>Wishart - 40 people - West</h2>

</div>

<div class = "venue1 col-md-5">

<img src = "images/forum.jpg">
<h2>Forum - 20 people - East</h2>

</div>

<div class = "venue1 col-md-5 col-md-offset-1">

<img src = "images/wishart.jpg">
<h2>Wishart - 40 people - West</h2>

</div>

</div>

</div>

</body>



