body {
	text-align: center;
	background: url("images/natural_paper.png");
}

h1 {
	color: white;
	position: relative;
	top: 40%;
}

h2 {
	color: black;
}

header {
	background: url("images/DinnerParty.jpg");
	height: 400px;
	text-align: center;
}

.social-icon img {
	display: inline-block;
	margin: 20px;
}

#footer {
	background-color: #FF8000;
	position: relative;
	bottom: 0;
	text-align: center;
}

/*Homepage*/

.form {
	display: inline-block;
	background: white;
	border-radius: 20px;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 3%;
	margin-bottom: 3%;
}

#submit-button {
	background-color: #FF8000;
	font-size: 25px;
	font-color: white;
	border-radius: 5px;
}

/*Venue Page*/

#venuelist {
	padding-top: 5%
}


.venue1 {
	background: url("images/pattern.jpg");
	display: inline-block;
	border-radius: 20px;
	margin-bottom: 40px;
	padding-bottom: 10px;
}


.venue1 img {
	width: 100%;
	margin-top: 5%;
	border-radius: 20px;
}


#venuepgs {
	padding-top: 5%
}

#venuetext {
	border-radius: 20px;
<<<<<<< HEAD
=======
	text-align: left;
	padding-left: 20px;
}

#choices {

	padding-bottom: 60px;
	margin-bottom: 50px;
>>>>>>> origin/master
}