body {
	text-align: center;
	background: url("images/natural_paper.png");
}

h1 {
	color: white;
	position: relative;
	top: 40%;
}

h2 {
	color: black;
}

header {
	background: url("images/DinnerParty.jpg");
	height: 400px;
	text-align: center;
}

.social-icon img {
	display: inline-block;
	margin: 20px;
}

#footer {
	background-color: #FF8000;
	position: relative;
	bottom: 0;
	text-align: center;
}

/*Venue Page*/

#venuelist {
	padding-top: 5%
}


.venue1 {
	border:1px dashed black;
	background: gray;
	display: inline-block;
	border-radius: 20px;
	margin-bottom: 40px
}


.venue1 img {
	width: 100%;
}


